<div class="container py-1" >
  <header class="h6 text-center">Filtros de búsqueda</header>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="filterForm" (ngSubmit)="loadParams()">
        <div class="row" style="margin-left: 14%;">
          <div class="form-group col-md-6 " style="padding-top: 0">
            <label class="col-sm-4 col-form-label">Estación:</label>
            <select style="width: 20rem; " type="number" class="form-control" formControlName="STATIONAME" (ngModelChange)="LoadParametersStation()"
                    name="stationId" required [disabled]="false">
              <option [ngValue]="null"  selected >Seleccione estación
              </option>
              <option *ngFor="let toll of tolls" value="{{ toll.code }}">{{toll.name}}
              </option>
            </select>
          </div>
          <div  class="form-group col-md-6 " style="padding-top: 0; ">
            <label class="col-sm-4 col-form-label">Carril: </label>
            <select style="width: 20rem;" type="number" class="form-control" formControlName="LANECODE"
                    name="laneId" required   >
              <option [ngValue]="null" selected >Seleccione carril
              </option>
              <option *ngFor="let lane of lanes" value="{{ lane.label }}">{{ lane.code }}
              </option>
            </select>
          </div>
        </div>
        <div class="row" style="margin-left: 14%;" >
          <div class="form-group col-md-6" style="padding-top: 0">
            <label class="col-form-label">Fecha recaudo:</label>
            <input style="width: 20rem;" type="date" class="form-control" [valueAsDate]="date" max="{{date | date:'dd-MM-YY'}}" formControlName="DATECOLLECTION"
                   name="DATECOLLECTION" required  [disabled]="false"/>

          </div>
          <div class="form-group col-md-6" style="padding-top: 0">
            <label class="col-form-label">Turno:</label>
            <select style="width: 20rem;" type="number" class="form-control" formControlName="TURNCODE"
                    name="turnoId" required  [disabled]="filterForm.controls['STATIONAME'].value !== null" >
              <option [ngValue]="null" selected >Seleccione turno
              </option>
              <option *ngFor="let shift of shifts"  value="{{ shift.code }}">{{ shift.code }}
              </option>
            </select>

          </div>
          <div class="form-group col-md-6" style="padding-top: 0">
            <label class="col-form-label">Categoría:</label>
            <select style="width: 20rem;" type="number" class="form-control" formControlName="CATEGORIA" >
              <option [ngValue]="null" selected >Seleccione categoría
              </option>
              <option *ngFor="let categoria of categorias"  [value]="categoria.classification">{{ categoria.name }}
              </option>
            </select>

          </div>

          <div class="form-group col-md-6" style="padding-top: 0">
            <label class="col-form-label">Número tiquete:</label>
            <input style="width: 20rem;" class="form-control" type="text" formControlName="NUMEROTIKETE" placeholder="NUMERO TIQUETE">
          </div>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
          <div class="row mt-3 " >
            <h6 style="font-size: 80%; margin-left: 20%;"><i class="fas fa-info text-info me-3 ms-1 " ></i>Según el tipo de búsqueda seleccionar los campos obligatorios.</h6>
            <h6 style="font-size: 80%; margin-left: 20%;"><strong ><i class="fas fa-search me-2 " style="color: rgba(189, 195, 199,1.0);"></i>Búsqueda general:</strong> Estación, Carril y Turno, Fecha de recaudo.</h6>
            <h6 style="font-size: 80%; margin-left: 20%;"><strong ><i class="fas fa-search me-2"  style="color: rgba(189, 195, 199,1.0);"></i>Busqueda específica:</strong> Estación, Carril, Categoría y Número tiquete.</h6>
          </div>

        </div>
        <br/>
        <div class="row">
          <div class=" mx-auto text-center">
            <button class="btn btn-outline-primary mx-3" type="button" (click)="clear()" >Limpiar</button>
            <button class="btn btn-primary mx-3" role="button" type="submit" > Consultar </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

